{% extends 'base.html' %}
{% block content %}

<h2>Dashboard</h2>
<p>WELCOME, {{ current_user.username }}!</p>
<a href="{{ url_for('add_blog_page') }}"><button>Add New Post</button></a>

<h3>Your Posts:</h3>
<ul style="display: flex; flex-wrap: wrap;">
  {% for blog in blogs %}
    <li class="card">
      <strong>{{ blog.title }}</strong>: {{ blog.content }}<br>
      <small>Posted on: {{ blog.date_posted.strftime('%B %d, %Y') }}</small><br>
        <img src="{{ url_for('static', filename='uploads/' + blog.image) }}"
             alt="{{ blog.title }}">
      <a href="{{ url_for('viewblog', title=blog.title) }}" class="btn">View</a> |
      <a href="{{ url_for('updateblog', id=blog._id) }}" class="btn">Edit</a> |
      <a href="{{ url_for('deleteuser', id=blog._id) }}" class="btn delete-btn" onclick="return confirm('Delete this post?')">Delete</a>
    </li>
  {% else %}
    <li>No posts yet.</li>
  {% endfor %}
</ul>

<a href="{{ url_for('logout') }}">
  <button style="color: red;">Logout</button>
</a>

{% endblock %}