{% extends 'base.html' %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
    
    {% for category, message in messages %}
        <div class="flash {{ category }}">
            {{ message }}
        </div>
    {% endfor %}

{% endwith %}

<h1 style="text-align:center; margin:20px;">
    Registration Page
</h1>

<div class="centered">

    <form method="POST">
        <p>{{ form.name.label }} {{ form.name() }}</p>
        <p>{{ form.email.label }} {{ form.email() }}</p>
        <p>{{ form.password() }}</p>
        <p>{{ form.confirm_password.label }} {{ form.confirm_password() }}</p>


    <input type="submit" value="Submit">


    

        <div style="display:flex; align-items:center; gap:10px; margin-top:40px;">
            <h3>Already Registered?</h3>

            <a href="/login"
               style="
                    padding:8px 15px;
                    background-color:#007bff;
                    color:white;
                    text-decoration:none;
                    border-radius:5px;
               ">
                Login Here
            </a>
        </div>


    </form>

</div>

{% endblock %}