{% extends 'base.html' %}

{% block content %}

<div class="centered">

    <form method="POST" enctype="multipart/form-data">

        <h2>Edit Blog</h2>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if error %}
            <div class="flash danger">{{ error }}</div>
        {% endif %}

        <label>Title</label><br>
        <input type="text"
               name="title"
               value="{{ blog.title }}"
               required><br><br>

        <label>Content</label><br>
        <textarea name="content"
                  rows="8"
                  cols="50"
                  required>{{ blog.content }}</textarea><br><br>

        <label>Change Image</label><br>
        <input type="file" name="image"><br><br>

        {% if blog.image %}
            <img src="{{ url_for('static', filename='uploads/' + blog.image) }}"
                 style="width:150px; height:auto; border-radius:5px;">
            <br><br>
        {% endif %}

        <button type="submit">Update Blog</button>

    </form>

</div>

{% endblock %}